<div class="product">
  <div class="product__information">
    <h2 class="product__title">{{ product.name }}</h2>
    <!--<img src="{{ product.image }}" alt="{{ product.name }} product image" class="product__image">-->
    <p class="product__description">{{ product.content | remove: '<p>' | remove: '</p>' }}</p>
    {% include product-definition.html %}
  </div>
  <iframe class="FlexEmbed-content" src="{{ "3dmodelembed.html" | relative_url }}?modelname={{product.modelname}}" width="40%"></iframe>
  <!--<img src="{{ product.image }}" alt="{{ product.name }} product image" class="product__image">-->
</div>